<div class="container">
  <h1 class="font-bold text-4xl">Lots de matière première</h1>
  <div class="lots">
    <h2> Tous les lots</h2>
    <% @lots.each do |lot| %>
      <p>Lot n°<%= lot.id %> • <%= lot.name %> • <%= lot.remaining_qty %> mg</p>
      <%= link_to 'Modifier', edit_lot_path(lot), class: "btn btn-gradient" %>
      <p><%= link_to 'Supprimer', lot_path(lot), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
    <% end %>

    <h2>Les lots en stock qui ne sont pas utilisés</h2>
    <% @filtered_lots.each do |lot| %>
      <p>Lot n°<%= lot.id %> • <%= lot.name %> • <%= lot.remaining_qty %> mg</p>
    <% end %>
  </div>
<%= link_to 'Nouveau Lot', new_lot_path %>
</div>
