<div>
  <h1 class="font-bold text-4xl">Lots#index</h1>
  <p>Find me in app/views/lots/index.html.erb</p>
</div>
<div>
<ul>
  <% @lots.each do |lot| %>
    <li><%= lot.name %></li>
    <li><%= lot.remaining_qty %>mg</li>
    <%= link_to 'Modifier', edit_lot_path(lot) %>
    <%= link_to 'Supprimer', lot, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ul>
</div>

<%= link_to 'Créer un lot de matière première', new_lot_path %>
